<div id="notes-wrapper">
    <div id="add-notes" class="text-center">
        <a href="/notes/add" class="btn btn-outline-info">New Idea</a>
    </div>

    <div class="row">
        {{#each notes}}
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h4>
                        <a href="#" id="btn-view" class="btn btn-outline-secondary button-note">View</a>
                        <a href="/notes/edit/{{id}}" id="btn-edit" class="btn btn-outline-warning button-note">Edit</a>
                        {{!-- for delete --}}
                        <form method="POST" action="/notes/{{id}}?_method=DELETE">
                            <input type="hidden" name="_method" value="DELETE">
                            <input id="btn-delete" type="submit" class="btn btn-outline-danger button-note" value="Delete">
                        </form>
                </div>
                <div class="card-footer text-muted">
                    Creadted on: <span>{{date}}</span>
                </div>
            </div>
        </div>
        {{else}}
        <p class="lead">You currently have no records.</p>
        {{/each}}
    </div>
</div>